{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Login</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        ​<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>
        
      
           



<!--NAVBAR-->
        <div class="navbar">
            <h1 style="color:white;">POLLS APPLICATION</h1>
            <a class="active" href=" {% url 'poll:index' %}"><i class="fa fa-fw fa-home"></i> Home</a> 
            <a href=" {% url 'poll:register' %}"><i class="fa fa-user blue-color"></i> Register</a>
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
         
    </div>


{% load crispy_forms_tags %}
<!--Register--> 
<div class="container py-5">
	<h1>Log In</h1>
	<form action="" method="post">
        {% csrf_token %}
		
        
		{{ form | crispy}}
		<br><button class="btn btn-primary" type="submit">Login</button>
	</form>
    {% if messages %}

    {% for message in messages  %}

 
    <samll {% if message.tags %} class= "{{message.tags}}" {% endif %}>{{message}}</small>
        {% endfor %}
        {% endif %}
	<p class="text-center">Don't have an account ?, <a href="/register">Register</a> instead.</p>
</div>


</body>
</html>